.flash-box
.wrapper
  = render 'shared/chat-side'
  .chat-main
    .main-header
      .main-header__current-group{group_id: @group.id}
        %h2.current-group__name
          = @group.name
        %ul.member-list
          Member：
          - @group.users.each do |user|
            %li.member-list__member
              = user.name
      = link_to "Edit", "edit", class: "main-header__edit-btn"
    .messages
      = render @messages
    .form
      = render 'form'
