.chat-side
  .chat-side__side-header
    %p.chat-side__side-header__user-name
      = current_user.name
    %ul.chat-side__side-header__user-menu
      %li.user-menu__edit-user
        = link_to new_group_path, class: "white-text" do
          = fa_icon 'pencil-square-o'
      %li.user-menu__new-group
        = link_to edit_user_path(current_user), class: "white-text" do
          = fa_icon 'cog'
  .chat-side__groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "white-text" do
          %p.group__group-name
            = group.name
          %p.group__latest-message
            = group.show_last_message
